@font-face {
    font-family: Comic;
    src: url(./COMIC.TTF);
}

body {
    background: rgb(14,0,255);
background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(255,2,2,1) 51%, rgba(29,255,0,1) 100%);
overflow: hidden;
}

.a1 {
    position: absolute;
    left: 1%;
}

.a2 {
    position: absolute;
    left: 10%;
}

.a3 {
    position: absolute;
    left: 20%;
}

.a4 {
    position: absolute;
    left: 30%;
}

.a5 {
    position: absolute;
    left: 65%;
    top: 10px;
}

.a6 {
    position: absolute;
    left: 50%;
    top: 660px;
}

.a7 {
    position: absolute;
    left: 10%;
    top: 500px;
}

.a8 {
    position: absolute;
    left: 50%;
    top: 300px;
}

.a9 {
    position: absolute;
    left: 1%;
    top: 500px;
}

.a10 {
    position: absolute;
    left: 30%;
    top: 750px;
}

.a11 {
    position: absolute;
    left: 10px;
    top: 750px;
}

button {
    outline: none;
    border: none;
    font-family: Comic;
    font-size: 40px;
    background-color: red;
}

button:active {
    background-color: green;
}